<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great news, <%= @customer_name %>, your order is on the way!</h1>

    <p>Your card has been charged <%= number_to_currency(@transaction.total) %></p>

    <p>Here are your order details:</p>
     <div class="grid-container">
      <div class="grid-100" id="transaction-container">
        <h1>Transaction Details:</h1>
        <div id="transaction-details">
          <p class="order-item-details">
          <% @transaction.order.order_items.each do |oi| %>
            <div class="order-item-details">
              <p>Item: <%= oi.item.title %></p>
              <p>Quantity: <%= oi.quantity %></p>
            </div>
          <% end %>
          <p class="order-item-details">Total: <%= number_to_currency(@transaction.total) %></p>
        </div>
        <p>To see your full order information, please visit: <%= @link %></p>
      </div>
    </div>
      
  </body>
</html>
