<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your restaurant, <%= @restaurant_name %>, was approved on Noshify!</h1>

    <p>Congratulations on bringing your restaurant to the world!</p>

    <p>Here are your restaurant's details:</p>
     <div class="grid-container">
      <div class="grid-100" id="restaurant-container">
        <div id="restaurant-details">
           <p>Restaurant Name: <%= @restaurant_name %></p>
           <p>Restaurant Description: <%= @restaurant_description %></p>
        </div>
        <p>To manage your restaurant and to bring it online, please visit: <%= @link %></p>
      </div>
    </div>

  </body>
</html>
